.cover__subtitle {
  max-width: 360px;
  margin: 0;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (max-width: 425px) {
  .cover__subtitle {
    max-width: 288px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  }
}