.header {
  display: flex;
  padding: 28px 48px 0;
  margin: 0 auto;
  max-width: 1194px;
  max-height: 52px;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .header {
    padding: 28px 24px 0;
  }
}

@media (max-width: 320px) {
  .header {
    padding: 16px 16px 0;
  }
} 