.lead__image {
  width: calc(100% - 296px);
  aspect-ratio: 1.6 / 1;
  max-height: 615px;
  margin: 0 148px 8px;
}

@media (max-width: 1024px) {
  .lead__image {
    width: calc(100% - 96px);
    margin: 0 48px 8px;
  }
}

@media (max-width: 768px) {
  .lead__image {
    width: 100%;
    margin: 0 0px 8px;
  }
}