.places__place {
  margin: 0 auto 80px;
}

.places__place:last-child {
  margin: 0 auto;
}

@media (max-width: 768px) {
  .places__place {
    margin: 0 auto 73px;
  }
}

@media (max-width: 425px) {
  .places__place {
    margin: 0 auto 64px;
  }
}