.cover__title {
  max-width: 560px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  color: #FFFFFF;
  margin: 0 0 32px 0;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 426px) and (max-width: 767px) {
  .cover__title {
    max-width: 515px;
    font-size: 48px;
    line-height: 52px;
  }
}

@media (max-width: 425px) {
  .cover__title {
    max-width: 288px;
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 35px;
  }
}