.place {
  width: 100%;
  list-style-type: none;
  display: grid;
  grid-template-columns:  460px 1fr;
  
  grid-template-areas:
  "title website"
  "image paragraph"
  "image paragraph";
  gap: 48px 40px;
}

@media  (max-width: 1024px) {
  .place {
    grid-template-columns:  440px 1fr;
    gap: 48px 32px;
  }
}

@media (max-width: 768px) {
  .place {
    grid-template-columns:  340px 1fr;
    gap: 48px 28px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .place {
    grid-template-columns: 1fr;
    grid-template-areas:
    "title"
    "website"
    "image"
    "paragraph";
    gap: 32px;
    width: 320px;
  }
}