.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 1184px;
  margin: 0 auto;
  padding-bottom: 24px;
}

@media (max-width: 1279px) {
  .footer {
    margin: 0 48px;
  }
}

@media (max-width: 768px) {
  .footer {
    margin: 0 24px;
  }
}

@media (max-width: 425px) {
  .footer {
    flex-direction: column;
    align-items: flex-start;
    margin: 0 0 0 16px;
  }
}